<template>
  <v-layout row>
    <v-flex xs12 sm12 order-xs2 style="position: relative;">
      <div class="chat-container" ref="chatContainer" >
        <message :messages="messages" :channelName="channelName"></message>
      </div>
      <emoji-picker :show="emojiPanel" @close="toggleEmojiPanel" @click="addMessage"></emoji-picker>
      <div class="typer">
        <input type="text" placeholder="Type here..." v-on:keyup.enter="sendMessage" v-model="content">
        <v-btn icon class="blue--text emoji-panel" @click="toggleEmojiPanel">
          <v-icon>mood</v-icon>
        </v-btn>
      </div>
    </v-flex>
  </v-layout>
</template>

<script>
import Message from './Message.vue'
import EmojiPicker from './EmojiPicker.vue'
import socket from '../../service/socket/index.js'
import { mapGetters } from 'vuex'

export default {
  props: {
    channelName: {
      type: String,
      required: false,
      default: 'CENTRAL_ROOM'
    }
  },
  data () {
    return {
      content: '',
      chatMessages: [],
      emojiPanel: false,
      currentRef: {},
      loading: false,
      totalChatHeight: 0
    }
  },
  mounted () {
    socket.socketInstance.on(this.channelName, (message) => {
      this.chatMessages.push(message)
    })
  },
  components: {
    'message': Message,
    'emoji-picker': EmojiPicker
  },
  computed: {
    ...mapGetters('messages', {
      messages: 'getMessages'
    }),
    // messages () {
    //   return this.$store.getters['messages/getMessages'](this.channelName)
    // },
    username () {
      // return this.$store.getters.user.username
      return 'Pera'
    }
  },
  methods: {
    sendMessage () {
      if (this.content !== '') {
        var message = { username: this.username, content: this.content, chatID: this.id, channel: this.channelName }
        // socket.socketInstance.emit('SEND_MESSAGE', message)
        this.content = ''
        this.$store.dispatch('messages/sendMessage', message)
      }
    },
    addMessage (emoji) {
      this.content += emoji.value
    },
    toggleEmojiPanel () {
      this.emojiPanel = !this.emojiPanel
    }
  }
}
</script>

<style>
.scrollable {
    overflow-y: auto;
    height: 90vh;
}
.typer{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 4.9rem;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -5px 10px -5px rgba(0,0,0,.2);
}
.typer input[type=text]{
    position: absolute;
    left: 2.5rem;
    padding: 1rem;
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
}
.chat-container{
    box-sizing: border-box;
    height: calc(100vh - 9.5rem);
    overflow-y: auto;
    padding: 10px;
    background-color: #f2f2f2;
}
.message{
    margin-bottom: 3px;
}
.message.own{
    text-align: right;
}
.message.own .content{
    background-color: lightskyblue;
}
.chat-container .username{
    font-size: 18px;
    font-weight: bold;
}
.chat-container .content{
    padding: 8px;
    background-color: lightgreen;
    font-size: 20px;
    border-radius: 10px;
    display:inline-block;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
    max-width: 50%;
    word-wrap: break-word;
}
@media (max-width: 480px) {
    .chat-container .content{
        max-width: 95%;
    }
}
</style>
