<template>
  <div class="emoji-picker" v-if="show">
    <v-card height="300px" v-if="show">
      <v-card-text>
        <div class="emoji-content">
          <emoji v-for="(emoji, index) in emojis" :emoji="emoji" @click="onEmojiClick" :key="index"></emoji>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import Emoji from './Emoji.vue'
import { mapGetters } from 'vuex'

export default {
  components: {
    'emoji': Emoji
  },
  props: {
    show: true
  },
  methods: {
    onEmojiClick (emoji) {
      this.$emit('click', emoji)
    },
    closePicker () {
      this.$emit('close')
    }
  },
  computed: {
    ...mapGetters('emoji', {
      emojis: 'getEmojis'
    })
  }
}
</script>

<style>
  .emoji-picker{
    background: white;
    position: absolute;
    bottom: 5rem;
    left: 0;
    width: 200px;
    user-select: none;
  }
  .emoji-picker .emoji-header{
    display: flex;
    padding: 5px;
    box-shadow: 0px 5px 9px 0px rgba(0,0,0,0.15);
  }
  .emoji-picker .emoji-header .emoji-close{
    margin-left: auto;
  }
  .emoji-picker .emoji-content{
    margin-top: 10px;
    overflow-y: auto;
    height: 200px;
  }
  .emoji-picker span{
    cursor: pointer;
    font-size: 25px;
  }
</style>
