<template>
  <div>
    <div class="message" v-for="(message,index) in messages" v-if="message.channel == channelName" :class="{own: message.username == user}" :key="index">
      <div class="username" v-if="index>0 && messages[index-1].username != message.username">{{ message.username }}</div>
      <div class="username" v-if="index == 0">{{ message.username }}</div>
      <div style="margin-top: 5px"></div>
      <span v-if="message.username == user" style="font-size: 10px;">{{ message.date | formatDate }}</span>
      <div class="content">
        <div v-html="message.content"></div>
      </div>
      <span v-if="message.username != user" style="font-size: 10px;">{{ message.date | formatDate }}</span>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      user: 'Pera'
    }
  },
  props: {
    messages: {
      type: Array,
      required: true
    },
    channelName: {
      type: Text,
      required: true
    }
  },
  // props: [
  //   'messages',
  //   'channelName'
  // ],
  computed: {
    username () {
      // return this.$store.getters.user.username
      return 'Pera'
    }
  }
}
</script>

<style>
span.emoji {
    font-size: 20px;
    vertical-align: middle;
    line-height: 2;
}
</style>
