<template>
  <div class="text-xs-center">
    <v-menu offset-y :open-on-hover="true">
      <v-list-tile-title
        slot="activator"
        color="orange lighten-2"
        dark
      >
        {{ username }}
        <v-icon>keyboard_arrow_down</v-icon>
      </v-list-tile-title>
      <v-list>
        <router-link v-for="(item, index) in items" :key="index" class="r-link sidebar-link" :to="{ name: item.link }">
            <v-list-tile-title style="margin: 5px;">{{ item.title }}</v-list-tile-title>
            <v-icon style="margin: 5px;">{{ item.icon }}</v-icon>
        </router-link>
        <v-list-tile
          @click="logout"
        >
          <v-list-tile-title>logout</v-list-tile-title>
          <v-icon>exit_to_app</v-icon>
        </v-list-tile>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  name: 'Dropdown',
  props: {
    username: {
      type: String,
      required: true
    },
    items: {
      type: Array,
      required: true
    }
  },
  methods: {
    logout () {
      this.$emit('logout')
    }
  }
}
</script>
