<template>
  <div :key="$route.name">
    <v-navigation-drawer
      fixed
      :clipped="$vuetify.breakpoint.mdAndUp"
      app
      v-model="drawer"
    >
      <v-list dense>
        <template v-for="item in items">
          <v-layout
            row
            v-if="item.heading"
            align-center
            :key="item.heading"
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
            <v-flex xs6 class="text-xs-center">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-flex>
          </v-layout>
          <v-list-group
            v-else-if="item.children"
            v-model="item.model"
            :key="item.text"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon=""
          >
            <v-list-tile slot="activator">
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            <v-list-tile
              v-for="(child, i) in item.children"
              :key="i"
            >
              <router-link class="r-link sidebar-link" :to="child.to">
                <v-list-tile-action v-if="child.icon">
                  <v-icon>{{ child.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ child.text }}
                  </v-list-tile-title>
                </v-list-tile-content>
              </router-link>
            </v-list-tile>
          </v-list-group>
        <v-list-tile v-else :key="item.text">
          <router-link class="r-link sidebar-link" :to="item.to">
              <v-list-tile-action v-if="item.icon">
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                    {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </router-link>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar
      color="orange lighten-2"
      dark
      app
      :clipped-left="$vuetify.breakpoint.mdAndUp"
      fixed
    >
      <v-toolbar-title class="ml-0 pl-3">
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <router-link class="link-reset hidden-sm-and-down" :to="{ name: 'CentralRoom' }">
          Chat
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <dropdown
        :username="user"
        :items="dropdownItems"
        @logout="logout"
      ></dropdown>
    </v-toolbar>
  </div>
</template>

<script>
import Dropdown from './Dropdown'
// import auth from '@/services/auth'

export default {
  name: 'navbar',
  components: {
    'dropdown': Dropdown
  },
  data () {
    return {
      drawer: null,
      items: [
        {
          icon: 'people',
          text: 'Central Room',
          model: true,
          to: {
            name: 'CentralRoom'
          }
        },
        {
          icon: 'people',
          text: 'Private Room',
          model: true,
          to: {
            name: 'Room'
          }
        }
      ],
      dropdownItems: [
        { title: 'MyProfile', link: 'HelloWorld', icon: 'perm_identity' },
        { title: 'Settings', link: 'CentralRoom', icon: 'settings' }
      ]
    }
  },
  computed: {
    loggedIn () {
      // return auth.utils.isLoggedIn()
      return true
    },
    user () {
      // return this.$store.getters.getUser
      return 'admin'
    }
  },
  methods: {
    logout () {
      console.log('Logout btn was pressed!')
    //   this.$store.dispatch('userLoggedOut')
    //     .then(() => {
    //       window.location.reload()
    //    })
    }
  }
}
</script>
