<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar dark color="orange lighten-2">
          <v-toolbar-title>Welcome to Simple Chat Application!</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-form v-if="state == 1">
            <v-text-field prepend-icon="person"
              name="username"
              label="Username"
              type="text"
              v-validate="'required'"
              data-vv-name="username"
              :error-messages="errors.collect('username')"
              v-model="user.username"
              @keyup.enter="login">
            </v-text-field>
            <v-text-field id="password"
              prepend-icon="lock"
              name="password"
              label="Password"
              type="password"
              v-validate="'required'"
              data-vv-name="password"
              :error-messages="errors.collect('password')"
              v-model="user.password"
              @keyup.enter="login">
            </v-text-field>
          </v-form>
          <v-form v-if="state == 2">
            <v-text-field id="regUsername"
              prepend-icon="person"
              name="regUsername"
              label="Username"
              type="text"
              v-validate="'required'"
              data-vv-name="regUsername"
              :error-messages="errors.collect('regUsername')"
              v-model="register.username"
              @keyup.enter="registration">
            </v-text-field>
            <v-text-field id="regEmail"
              prepend-icon="person"
              name="regEmail"
              label="Email"
              type="text"
              v-validate="'required'"
              data-vv-name="regEmail"
              :error-messages="errors.collect('regEmail')"
              v-model="register.email"
              @keyup.enter="registration">
            </v-text-field>
            <v-text-field id="regPassword"
              prepend-icon="lock"
              name="regPassword"
              label="Password"
              type="password"
              v-validate="'required'"
              data-vv-name="regPassword"
              :error-messages="errors.collect('regPassword')"
              v-model="register.password"
              @keyup.enter="registration">
            </v-text-field>
            <v-text-field id="confirmPassword"
              prepend-icon="lock"
              name="confirmPassword"
              label="Confirm password"
              type="password"
              v-validate="'required'"
              data-vv-name="confirmPassword"
              :error-messages="errors.collect('confirmPassword')"
              v-model="register.confirmPassword"
              @keyup.enter="registration">
            </v-text-field>
          </v-form>
          <v-form v-if="state == 3">
              <v-text-field prepend-icon="person"
              name="email"
              label="Email"
              type="text"
              v-validate="'required'"
              data-vv-name="forgotPassEmail"
              :error-messages="errors.collect('forgotPassEmail')"
              v-model="email"
              @keyup.enter="forgotPassword">
            </v-text-field>
          </v-form>
        </v-card-text>
        <v-card-text>
          <v-alert :value="showLoginError" type="error">
            Wrong credentials!
          </v-alert>
        </v-card-text>
        <v-card-actions v-if="state == 1">
          <v-spacer></v-spacer>
          <v-btn color="orange lighten-2" class="dms-bg-color white--text" @click.prevent="login">Login</v-btn>
        </v-card-actions>
        <v-card-actions v-if="state == 2">
          <v-spacer></v-spacer>
          <v-btn color="orange lighten-2" class="dms-bg-color white--text" @click.prevent="registration">Register</v-btn>
        </v-card-actions>
        <v-card-actions v-if="state == 3">
          <v-spacer></v-spacer>
          <v-btn color="orange lighten-2" class="dms-bg-color white--text" @click.prevent="login">Send mail</v-btn>
        </v-card-actions>
        <v-card-text style="text-align: center; color: orange;">
            <a v-if="state != 1" style="color: orange;" @click="state = 1">Login</a> <a v-if="state != 2" style="color: orange;" @click="state = 2">Create account</a> <a v-if="state != 3" style="color: orange;" @click="state = 3">Forgot password</a>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
// import auth from '@/services/auth'
import UserService from '@/service/user'

export default {
  name: 'login',
  data () {
    return {
      user: {
        username: '',
        password: ''
      },
      register: {
        username: '',
        email: '',
        password: '',
        confirmPassword: ''
      },
      email: '',
      state: 1,
      showLoginError: false
    }
  },
  methods: {
    login () {
      this.$validator.validateAll().then(result => {
        console.log(result)
        console.log(this.user)
      })
    },
    registration () {
      this.$validator.validateAll().then(result => {
        if (this.register.password !== this.register.confirmPassword) {
          console.log('Password and confirm password not equals!')
          return
        }
        let registerDto = {
          username: this.register.username,
          email: this.register.email,
          password: this.register.password
        }
        UserService.registerUser(
          registerDto,
          res => {
            console.log('Registration successful!')
            console.log(res)
          },
          err => {
            console.log(err)
          }
        )
      })
    },
    forgotPassword () {
      this.$validator.validateAll().then(result => {
        console.log(result)
        console.log(this.email)
      })
    }
  }
}
</script>
