<template>
    <v-layout row>
        <v-flex xs12 sm12 order-xs2 style="position: relative;">
            <h1>{{ roomName }}</h1>
            <chat-channel
              :channelName="roomName"
            ></chat-channel>
        </v-flex>
    </v-layout>
</template>

<script>
import Chat from '../chat/Chat'

export default {
  components: {
    'chat-channel': Chat
  },
  data () {
    return {
      roomName: 'private_channel'
    }
  }
}
</script>
